---
title: "Home"
posted: 2014-01-28
---

  <div class="main-slider cf">
                        <ul class="slides">
                                <li style="background: url({{assets}}/header2.jpg) top left; background-size: cover;">
                                        <div class="slider-content-container">
                                                <h2>Some women just seem to have it&#8230;Style</h2>


                                                <p>It’s more than what they wear; it’s the way they walk, talk and hold themselves. Sure it turns heads, but it also opens doors of opportunity in
                                                careers, social and personal life.</p>


                                                <h5>And it can be learnt by any woman. Especially you.</h5>
                                                <p><a class="slider-button" href="book-now.html">Book Your Complimentary Consultation</a>
                                        </div>
                                </li>
                        </ul>
                </div>

<section class="cf" id="home-packages">
  

                        <div class="colcontainer">
                                <div class="threecol package">
                                        <h4 class="package-title">RE-ENTERING THE WORKPLACE</h4>

                                        <hr>
                                        <a href="re-entering-the-workplace/index.html" style="border-bottom: 0px"><img alt="" src="{{assets}}/1.jpg"></a>

                                        <p class="textalign-center">It takes confidence to walk back into a workplace without missing a beat, and that confidence comes from feeling great.</p>
                                        <a class="package-link textalign-center" href="re-entering-the-workplace/index.html">Find Out More</a>
                                </div>


                                <div class="threecol package">
                                        <h4 class="package-title">MOVING UP IN THE WORLD</h4>

                                        <hr>
                                        <a href="moving-up-in-the-world/index.html" style="border-bottom: 0px"><img alt="" src="{{assets}}/2.jpg"></a>

                                        <p class="textalign-center">Discover exactly how to project the kind of image, body language and positivity that is impossible to ignore.</p>
                                        <a class="package-link textalign-center" href="moving-up-in-the-world/index.html">Find Out More</a>
                                </div>


                                <div class="threecol package">
                                        <h4 class="package-title">READY FOR A CHANGE</h4>

                                        <hr>
                                        <a href="ready-for-a-change/index.html" style="border-bottom: 0px"><img alt="" src="{{assets}}/3.jpg"></a>

                                        <p class="textalign-center">Seize the power of change in your life by reinventing yourself through a new and exciting image.</p>
                                        <a class="package-link textalign-center" href="ready-for-a-change/index.html">Find Out More</a>
                                </div>
                        </div>
                </section>
        </div>


        <div class="testimonials">
                <ul class="slides">
                        <li>
                                <div class="testimonial-content-container">
                                        <div class="testimonial-image" style="background: url({{assets}}/Testimonial1.png) center center;">
                                        </div>


                                        <h4>Edge Clients</h4>


                                        <blockquote class="testimonial">
                                                <span>I have been self employed for 7 years and am currently the Director of 4 separate companies. As a young entrepreneur I need to be sure that I am
                                                portraying the correct image to my clientele. I decided that I needed to get professional advice on the best way to dress for my industry. Alison was
                                                extremely professional, well presented and confident in her knowledge... <a href="testimonials/index.html" title="Testimonials">read more</a></span>

                                                <p>- Lara Wheatley – Kove Media Corporation <a href="#"></a></p>
                                        </blockquote>
                                </div>
                        </li>


                        <li>
                                <div class="testimonial-content-container">
                                        <div class="testimonial-image" style="background: url({{assets}}/Testimonial2.png) center center;">
                                        </div>


                                        <h4>Edge Clients</h4>


                                        <blockquote class="testimonial">
                                                <span>After loosing a substantial amount of weight I found myself with a new body shape.&nbsp;While I was always confident in my dress style, I found
                                                many of my clothes no longer suited me, so I decided to engage Alison's expertise as a colour and consultant . The whole process of reviewing my
                                                existing wardrobe and giving me a new look was...&nbsp;<a href="testimonials/index.html" title="Testimonials">read more</a> &nbsp;</span>

                                                <p>- Joanne El-Chah Director - inJECt <a href="#"></a></p>
                                        </blockquote>
                                </div>
                        </li>
                </ul>
        </div>


        <section class="cf" id="grid-links">
                <div class="colcontainer">
                        <div class="inner">
                        </div>
                </div>
        </section>


<section class="cf" id="free-consultation">
                
<div class="inner">
       <div class="consultation-text">
                                <h2>Get a complimentary 45 min consultation</h2>


                                <p>Call Alison on 0488 494 345 to organise a complimentary 45 minute coffee catch up</p>
                        </div>
                        <a class="button" href="book-now.html">Start Today</a>
 </div>
</section>